.angular/
.eslintcache
.git*
.vscode/
*.log
*.md
appdata
audio
backend/appdata
!backend/appdata/default.json
backend/audio
backend/node_modules
backend/public
backend/subscriptions
backend/test/sample_mp4.mp4
backend/video
chart
chrome-extension
db
docker-compose.yml
Dockerfile
node_modules/
src/assets/i18b/*.json
subscriptions
users
video
