name: docker-pr

on:
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: setup platform emulator
        uses: docker/setup-qemu-action@v3

      - name: setup multi-arch docker build
        uses: docker/setup-buildx-action@v3

      - name: build images
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: false
